<div class="container mt-4">

    <div class="row">

        <div class="col-md-3">
            <div class="card p-4 text-center">
                <h6>🏢 Contratistas</h6>
                <h2 id="totalEmpresas">0</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-4 text-center">
                <h6>👨 Conductores</h6>
                <h2 id="totalConductores">0</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-4 text-center">
                <h6>🚚 Vehículos</h6>
                <h2 id="totalVehiculos">0</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card p-4 text-center">
                <h6>📄 Documentos</h6>
                <h2 id="totalDocumentos">0</h2>
            </div>
        </div>

    </div>

</div>